body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 84, 84);
  overflow: scroll;
}
#root {
  display: inline-block;
  max-width: 1280px;
  padding: 0;
  height: 144px;
  width: 160px;
  outline: rgb(56, 54, 54) 1px solid;
  box-sizing: content-box;
  background-color: rgb(255, 255, 255);
  scale: 3;
  transform: translateY(50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}

canvas{
  shape-rendering:crispEdges;
  image-rendering:pixelated;
  position: absolute;
}
